@import "~pnotify/dist/PNotifyBrightTheme.css";

@import "~basiclightbox/dist/basiclightbox.min.css";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  /* height: auto; */
  display: block;
}

body {
  background-color: rgb(251, 253, 230);
}

.search-form {
  text-align: center;
  margin: 30px auto;
}

.search-form input {
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
}

.search-form__bnt {
  cursor: pointer;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 3px;
  background: rgb(194, 216, 71);
  box-shadow: 0 -3px rgb(150, 156, 53) inset;
  transition: 0.2s;
}

.search-form__bnt:hover {
  background-color: rgb(184, 192, 40);
}

.search-form__bnt:active {
  background: rgb(162, 168, 35);
  box-shadow: 0 3px rgb(122, 147, 33) inset;
}

.gallery {
  margin: 0 10px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2vw;
  list-style: none;
}

.gallery__item {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.gallery__item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
}

.gallery__wrapper-img {
  height: 150px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
}

.gallery__img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.stats {
  padding-top: 16px;
  padding-bottom: 16px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2vw;
}

.stats__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-icons {
  padding-right: 20px;
  color: rgb(68, 67, 67);
}

.load-more-btn {
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 100px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 3px;
  background: rgb(194, 216, 71);
  box-shadow: 0 -3px rgb(150, 156, 53) inset;
  transition: 0.2s;
}

.load-more-btn:hover {
  background: rgb(184, 192, 40);
}

.load-more-btn:active {
  background: rgb(162, 168, 35);
  box-shadow: 0 3px rgb(122, 147, 33) inset;
}

.show {
  display: block;
}

.btn-up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
  background: rgb(194, 216, 71);
  font-size: 20px;
  color: #fff;
}

.btn-up:hover {
  background: rgb(184, 192, 40);
}

.btn-up:active {
  background: rgb(162, 168, 35);
  box-shadow: 0 3px rgb(122, 147, 33) inset;
}

@media screen and (max-width: 767px) {
  .gallery {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}
